body{
  font-family,Wide Latin, Arial;
  background-image:linear-gradient(#7a0db5,#ffffff);
}
h1 {
  text-align: center;
  font-family:Candara,Calibri,Arial;
}
#content {
  margin: auto;
  text-align: justify;
  width:500px;
}
.segment{
  padding: 10px;
  border: 1px solid #000000;
  margin-bottom: 10px
  /* border-width: 1px;
  border-color: #000000;
  border-style: solid; */

}

.segment img {
  max-width: 145px;
}
/*
only segment
*/
p{
  margin-top: 0px;
  margin-bottom: 0px;
}

.segment .rightimg{
  float: right;
    margin-left: 10px
}
.segment .leftimg{
    margin-Right: 10px
  float: left;
}
